body {
    margin: 0px;
    padding: 0px;
}

#all {
    position: relative;
    margin: 0 auto;
    top: 5px;
    width: 218px;
    height: 218px;
}

#container>div {
    border: 2px solid;
    margin: -1px;
    width: 64px;
    height: 64px;

}

#container {
    display: grid;
    grid-template-columns: repeat(3, 65px);
    grid-template-rows: repeat(3, 65px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 214px;
    height: 214px;
    /* border: 1px solid red; */
}



#WinDL {
    margin-top: 106px;
    margin-left: -45px;
    position: absolute;
    width: calc(1px * sqrt(91630));
    height: 1px;
    border-radius: 90px;
    background: #000;
    rotate: 45deg;
}

#WinDR {
    margin-top: 107px;
    margin-left: -44px;
    position: absolute;
    width: calc(1px * sqrt(91630));
    height: 1px;
    border-radius: 90px;
    background: #000;
    rotate: -45deg;
}


#WinH1 {
    margin-top: 32px;
    margin-left: 5px;
    position: absolute;
    width: 214px;
    height: 1px;
    border-radius: 90px;
    background: #000;
}

#WinH2 {
    margin-top: 106px;
    margin-left: 5px;
    position: absolute;
    width: 214px;
    height: 1px;
    border-radius: 90px;
    background: #000;
}

#WinH3 {
    margin-top: 182px;
    margin-left: 5px;
    position: absolute;
    width: 214px;
    height: 1px;
    border-radius: 90px;
    background: #000;
}

#WinV1 {
    margin-top: 0px;
    margin-left: 32px;
    position: absolute;
    width: 1px;
    height: 213px;
    border-radius: 90px;
    background: #000;
}

#WinV2 {
    margin-top: 0px;
    margin-left: 106px;
    position: absolute;
    width: 1px;
    height: 213px;
    border-radius: 90px;
    background: #000;
}

#WinV3 {
    margin-top: 0px;
    margin-left: 182px;
    position: absolute;
    width: 1px;
    height: 213px;
    border-radius: 90px;
    background: #000;
}

.Win {
    border: 1px solid;
    margin-top: 0px;
    position: absolute;
    display: none;
}

.winTxt {
    display: none;
    top: 230px;
    font-size: 32px;
    border: 0px solid;
    position: absolute;
}

#texts{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #ega {
    text-align: center;

}

#WinX {

    text-align: center;

}

#WinO {
    text-align: center;

} */

img {
    width: 65px;
}

#GitHubLogo {
    width: auto;
    height: 40px;
}

#Licence {
    width: auto;
    height: 40px;
}

footer {
    border: 0px solid;
    margin-top: 60px;
    margin-left: 5px;
    position: fixed;
    bottom: 5px;
}

a {
    color: white;
    text-decoration: none;
}

#reset{
    display: inline;
    border-radius: 5px;
    background-color: #333;
    color: #FFF;
    top: 272px;
}

@media print { 
    body{
        display: none;
    }
    
}